@import "tailwindcss";

@font-face {
  font-family: 'NeueBlack';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBold';
  src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NeueLight';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 500;

}

@font-face {
  font-family: 'NeueThin';
  src: url('/fonts/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NeueXXThin';
  src: url('/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NeueRoman';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 500;
}

@theme {
  /* Colors */
  --color-primary: #0154AA;
  /* Blue */
  --color-secondary: #333333;
  /* Black */
  --color-textGray: #585D6E;
  /* Gray */
  --color-searchBg: #F6F9FF;
  --color-background: #F4F4F4;
  --color-lightGrey: #737A91;

  /* Font Families */
  --font-neueBlack: "NeueBlack", sans-serif;
  --font-neueBold: "NeueBold", sans-serif;
  --font-neueLight: "NeueLight", sans-serif;
  --font-neueThin: "NeueThin", sans-serif;
  --font-neueXXThin: "NeueXXThin", sans-serif;
  --font-neueRoman: "NeueRoman", sans-serif;

  /* Spacing */
  --spacing-72: 18rem;
  --spacing-84: 21rem;
  --spacing-96: 24rem;


  /* Line Heights */
  --line-h1: 3rem;
  --line-h2: 2.5rem;
  --line-h3: 2rem;
  --line-body: 1.5rem;
  --line-small: 1.25rem;

  /* Text Size */
  --text-h1: 1.7rem;
  /* 22px */
  --text-h2: 2rem;
  /* 14px */
  --text-h3: 1.75rem;
  --text-p: 2rem;
  /* 14px */
  --text-body: 1rem;
  --text-small: 1.1rem;
  --text-li: 1.2rem;
  /* Font Weights */
  --font-weight-heading: 600;
  --font-weight-extraBlack: 800;
  --font-weight-h3: 500;
  --font-weight-paragraph: 500;
  --font-weight-body: 400;
  --font-weight-small: 400;

  /* Letter Spacing */
  --letter-h1: -0.02em;
  --letter-h2: -0.01em;
}